{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Profile
{% endblock %}

{% block body %}
	<div class="container profile-page">
		<h1 class="text-center my-5">Profile</h1>
		<div class="card profile-card">
			<div class="row">
				{% for target in targets %}
					<div class="col-sm-6 col-md-4 col-lg-3 col-target">
						<h2 class="my-3">{{target.lastname ~ ' ' ~ target.firstname}}</h2>
						<p>{{'(' ~ target.city ~ ')'}}</p>
						<img src="{{vich_uploader_asset(target)}}" class="img-profile" alt="{{target.poster}}">

						{% if target.isKilled == 1 %}
							<p class="badge bg-bloodlight w-100">
								State : Dead
							</p>
						{% else %}
							<p class="badge bg-greenlife w-100">
								State : Alive
							</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
