{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Choose Killer
{% endblock %}

{% block body %}
	<section>
		<div class="container-fluid choice-killer-page">
			<h1 class="text-center my-5">Choose your killer</h1>
			<div class="row">
				{% for killer in killers %}
					<div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-4">
						<div class="card killer-card">
							<h2 class="display-4 mb-4 text-center">
								{% if killer.user is empty %}
									{{killer.id}}
								{% else %}
									{{killer.user.username}}
								{% endif %}
							</h2>
							<img src="{{killer.avatar}}" class="img-card-killer" alt="{{killer.avatar}}">
							<div class="skills-bloc">
								{% for skill in killer.skills %}
									<p class="badge bg-bloodlight fs-5 my-3">{{skill}}</p>
								{% endfor %}
							</div>
							<p class="bio-killer">{{killer.biography}}</p>
							<a href="{{path('app_choice_killer', {'killer': killer.id})}}" class="btn btn-lg btn-outline-bloodlight my-3">Choose this ?</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<a href="{{path('app_logout')}}" class="text-decoration-none text-white">Logout</a>
	</section>
{% endblock %}
