{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Choose Target
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<h1>Choose your Target</h1>
			<div class="card">
				<h2>{{killer.id}}</h2>
				<img src="{{killer.avatar}}" alt="{{killer.avatar}}">
				{% for skill in killer.skills %}
					<p>{{skill}}</p>
				{% endfor %}
				<p>{{killer.biography}}</p>
				<div class="form-target">
					{{ form_start(targetForm) }}
					<button type="submit">Kill</button>
					{{ form_end(targetForm) }}
				</div>
			</div>
			<a href="{{path('app_choice')}}">Back</a>
		</div>
	</section>
{% endblock %}
